/* Style the body */

body {
    background: rgb(245, 245, 245);
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* Header/logo Title */

.header {
    background: transparent;
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.holder {
    width: auto;
    display: inline-block;
}

.holder img {
    width: 40%;
    /* Will shrink image to 30% of its original width */
    height: auto;
}

​
/* Column container */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */


/* Sidebar/right column */


/* Main column */

.main {
    flex: 100%;
    background-color: white;
    padding: 20px;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    background-image: url("images/banner.png");
    background-size: cover;
    padding: 120px;
    color: white;
}


/* titulo-medio */

#banner h2 {
    font-weight: 600;
    line-height: 66px;
    font-size: 36px;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}


/* paragrafo-grande */

#banner p {
    font-weight: normal;
    line-height: 40px;
    font-size: 20px;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
}

.container {
    flex: 100%;
    background-color: transparent;
}


/* FORM STYLES */

.contact form {
    display: flex;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #000F43;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

input[type=text],
select {
    width: 265px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #262626;
}


/* Style the submit button with a specific background color etc */

button[type=submit] {
    width: 265px;
    height: 45px;
    background-color: #000F43;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    line-height: 32px;
    font-size: 18px;
    color: #F2F2F3;
    padding: 8px 16px;
}


/* When moving the mouse over the submit button, add a darker green color */

button[type=submit]:hover {
    background: #5ACBE3;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}


/* Add a card effect for articles */

.card {
    display: flex;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

#card h3 {
    font-weight: bold;
    line-height: 10px;
    font-size: 8px;
    font-variant: small-caps;
    color: #F2F2F3;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
}

#card h4 {
    font-size: 6px;
    font-variant: small-caps;
    color: #F2F2F3;
    font-family: 'Montserrat', sans-serif;
}

#card h5 {
    font-size: 4px;
    font-variant: small-caps;
    color: #F2F2F3;
    font-family: 'Montserrat', sans-serif;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.img {
    width: 100%;
    padding: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}