body{
	background: rgb(245,245,245);
	color: blue;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

p{
	font-weight: normal;
	line-height: 44px;
	font-size: 18px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

/* titulo-grande */
h1{
	font-weight: bold;
	line-height: 84px;
	font-size: 48px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

/* titulo-caixa-alta */
h2{
		font-weight: 600;
		line-height: 66px;
		font-size: 36px;
		color: #262626;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
}

/* titulo-medio */
h3{
		font-weight: 600;
		line-height: 66px;
		font-size: 36px;
		color: #262626;
		font-family: 'Montserrat', sans-serif;
}

/* subtitulo */
h4{
	font-style: normal;
	font-weight: 500;
	line-height: 44px;
	font-size: 24px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

/* input-medio */
h5{
	width: 265px;
	height: 45px;
	background: #FFFFFF;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

 /* input-mini */
h6{
	width: 182px;
	height: 34px;
	background: #F2F2F3;
	border-radius: 7px;
	font-weight: normal;
	line-height: 33px;
	font-size: 18px;
	color: #C4C4C4;
	font-family: 'Montserrat', sans-serif;
}

/* menu-topo */

#banner{
  text-align: justify;
  background-size: cover;
  padding: 150px;

/*	height: 90px; */
	background-color: transparent;
	color: black;
	font-style: normal;
	font-weight: normal;
	line-height: 33px;
	font-size: 18px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

/* paragrafo-grande */
#banner p{
	font-weight: normal;
	line-height: 44px;
	font-size: 24px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

/* botao-medio */
button{
	width: 265px;
	height: 45px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: bold;
	line-height: 32px;
	font-size: 18px;
	color: #F2F2F3;
	padding: 8px 16px;
}

/* botao-mini */
#mini{
	width: 135px;
	height: 40px;
	background: #008BA4;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	font-size: 16px;
	color: #FFFFFF;
	padding: 8px 16px;
}

.card{
	width: 355px;
	height: 425px;
	border-radius: 10px;
}

/* titulo-card */
#hcard{
	font-weight: bold;
	line-height: 25px;
	font-size: 24px;
	font-variant: small-caps;
	color: #F2F2F3;
	text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

/* categoria-card */
#catcard {
	font-weight: 500;
	line-height: 33px;
	font-size: 18px;
	color: #F2F2F3;
	text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.container{
  border: 2px solid black;
/*  display: flex;  */
}

.container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}
